@model Chef
<style>
    .new-chef {
        font-size: 20px;
        margin-left: 700px;
    }
</style>
<h1>Chefs | <a asp-action="Dishes">Dishes</a><a asp-action="NewChef" class="new-chef btn btn-primary">Add a Chef</a></h1>
<h2>Check out our roster of Chefs!</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col"># of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chef in ViewBag.AllChefs)
        {
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@chef.Age</td>
                <td>@chef.CreatedDishes.Count</td>
            </tr>
        }
    </tbody>
</table>